<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655179097825-4eujhuopn3v14b3dlo2b9j298g1m981m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655179097825-4eujhuopn3v14b3dlo2b9j298g1m981m</string>
	<key>API_KEY</key>
	<string>AIzaSyA791HHKjC_311C8ZkNohPVcL022-VJRag</string>
	<key>GCM_SENDER_ID</key>
	<string>655179097825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JordanKlein.DinoGame</string>
	<key>PROJECT_ID</key>
	<string>little-dinos</string>
	<key>STORAGE_BUCKET</key>
	<string>little-dinos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655179097825:ios:8c93d5125a96b9033ab9a0</string>
	<key>DATABASE_URL</key>
	<string>https://little-dinos.firebaseio.com</string>
</dict>
</plist>